.folder-button__button {
	border: 0;
	background: transparent;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: relative;
	font-size: 14px;
	padding: 0;
}

.folder-button__icon {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 3px;
}

.folder-button__name {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 50px;
}
